<h1>Bevásárlólista</h1>
<form>
  <input [(ngModel)]="toList.item" [ngModelOptions]="{standalone: true}" type="text" placeholder="Termék megnevezése"
    required>
  <input [(ngModel)]="toList.unitCount" [ngModelOptions]="{standalone: true}" type="number" placeholder="Mennyiség"
    required>
  <select [(ngModel)]="toList.unit" [ngModelOptions]="{standalone: true}" required>
    <option>darab</option>
    <option>kilógramm</option>
    <option>liter</option>
  </select>
  <button (click)="addToList(this.toList)" type="submit">Add a bevásárlólistához</button>
  <button type="submit">Lista módosítása</button>
</form>