<h1>Bevásárlólista</h1>
<form (submit)="addToList()">
  <input [(ngModel)]="listArticle.item" [ngModelOptions]="{standalone: true}" type="text"
    placeholder="Termék megnevezése" required>
  <input [(ngModel)]="listArticle.unitCount" [ngModelOptions]="{standalone: true}" type="number" placeholder="Mennyiség"
    required>
  <select [(ngModel)]="listArticle.unit" [ngModelOptions]="{standalone: true}" required>
    <option *ngFor="let option of options">{{option}}</option>
  </select>
  <button type="submit">Add a bevásárlólistához</button>
  <button type="submit">Lista módosítása</button>
</form>